<%- include("../includes/header.ejs", {title:"Add New Player"}); %>
<h1>Add New Player</h1>
<form action="/players/insert" method="get">
    Player Name: <input id="player_name" name="player_name" type="text" />
    <br />

    Plays For:
    <br />
    <select id="plays_for" name="plays_for" multiple="multiple">
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#team_id').multiselect();
        });
    </script><br />
    Jersey Number: <input id="number" name="number" type="text" /><br />
    Position: <input id="position" name="position" type="text" />
    <br />
    <br />

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs") %>