<%- include("../includes/header.ejs", {title:"Arenas - View All"}); %>

<h1>Arenas Table</h1>
<a href="/arenas/add">Add New Arena</a> <br />


<br />
<text>Click on an arena name to view more informatiom about that arena.</text>
<br />
<br />

<table border=1>
    <tr><th>Arena Name</th><th>Actions</th>
    </tr>

    <% for (var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/arenas/?arena_id=<%= result[i].arena_id %>"><%= result[i].arena_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/arenas/edit/?arena_id=<%= result[i].arena_id %>'">Edit</button>
            <form action="/arenas/delete/" style="display:inline;">
                <input type="hidden" name="arena_id" id="arena_id" value="<%= result[i].arena_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>