<%- include("../includes/header.ejs", {title: "Update " + arenas.arena_name}); %>

<h1>Update <%= arenas.arena_name%></h1>
<form action="/arenas/update" method="get">
    <input type="hidden" id="arena_id" name="arena_id" value="<%= arenas.arena_id %>">
    Arena Name: <input id="arena_name" name="arena_name" type="text" value="<%= arenas.arena_name%>"/> <br />
    Street Address: <input id="street" name="street" type="text" value="<%= arenas.street%>"/> <br />
    City: <input id="city" name="city" type="text" value="<%= arenas.city%>"/> <br />
    State: <input id="state" name="state" type="text" value="<%= arenas.state%>"/> <br />
    Zip Code: <input id="zip" name="zip" type="text" value="<%= arenas.zip%>"/> <br />
    Phone Number: <input id="phone_number" name="phone_number" type="text" value="<%= arenas.phone_number%>"/> <br />
    <br />
    <br />


    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>