<%- include("../includes/header.ejs", {title:"Teams"}); %>
<h1>Team: <%= result[0].team_name %></h1>
<ul>
    <li>Team Name: <%= result[0].team_name %></li><br />
    <li>Points: <%= result[0].points %></li><br />
    <li>Wins: <%= result[0].wins %></li><br />
    <li>Losses: <%= result[0].losses %></li><br />

</ul>

<a href="/teams/all"><< back</a>

<%- include("../includes/footer.ejs"); %>