<%- include("../includes/header.ejs", {title:"Add New Team"}); %>

<h1>Insert a Team</h1>

<form action="/teams/insert" method="get">
    Team Name: <input id="team_name" name="team_name" type="text" /><br />
    Points: <input id="points" name="points" type="text" /><br />
    Wins: <input id="wins" name="wins" type="text" /><br />
    Losses: <input id="losses" name="losses" type="text" /><br />

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>
