<%- include("../includes/header.ejs", {title:"Games"}); %>
<h1>Game on: <%= result[0].date %></h1>
<ul>
    <li>Date: <%= result[0].date %></li><br />
    <li>Location:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].location %></li>
            <% } %>
        </ul>
    </li>
    <li>Home Team:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].home_team %></li>
            <% } %>
        </ul>
    </li>
    <li>Away Team:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].away_team %></li>
            <% } %>
        </ul>
    </li>
    <li>Home Points: <%= result[0].home_points %></li><br />
    <li>Away Points: <%= result[0].away_points %></li><br />
    <li>Attendance: <%= result[0].attendance %></li><br />

</ul>

<a href="/games/all"><< back</a>

<%- include("../includes/footer.ejs"); %>